**/bin/
**/obj/
**/out/
**/publish/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/.cr/
**/.git/
**/.gitignore
**/.gitattributes
**/.github/
**/.dockerignore
**/docker-compose*.yml
**/Dockerfile*
**/README.md
**/LICENSE
**/docker-data/
**/.docker-data/
**/docker/volumes/
**/wwwroot/uploads/
**/uploads/
**/wwwroot/uploads/**/*
!**/wwwroot/uploads/.gitkeep
*.pdf
**/*.log
**/*.tmp
**/*.cache
**/temp/
**/logs/
**/TestResults/
**/packages/
**/*.nupkg
**/.DS_Store
**/Thumbs.db
**/.env
**/.env.*
!**/.env.example
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.*.json
**/secrets.json
**/user-secrets/
**/data-protection-keys/
*.mdf
*.ldf
*.db
*.sqlite
*.sqlite3
**/coverage/
**/coverage.json
**/coverage.cobertura.xml
**/node_modules/
**/package-lock.json
**/yarn.lock
**/build/
**/dist/
**/.next/
**/out/
**/runtime/
**/*.pid
**/*.seed
**/*.lock
**/*.bak
**/*.backup
**/*.old
**/*.orig
**/*.zip
**/*.7z
**/*.rar
**/*.tar.gz